/node_modules
/config
/package-lock.json
/.vscode
/config/config-dev.yaml
/config/config-ribeirao-qas.yaml
/config/config-viracopos.yaml
/config/config-ribeirao.yaml
/config/config-viracopos-qas.yaml
/ssl
