p Ola #{name},
p Para ter acesso ao sistema será necessario você acessar o link, lembrando que você precisa fazer este processo até #{tokenExpereIn}
a(href=`http://127.0.0.1:3000/#${token}`) Criar senha
p após esta etapa você ja terá acesso ao sistema.
